<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mercer Island Redwoods - A Masters Swim Group</title>
    <meta name="Description" content="Masters Swim Group in Mercer Island, Washington">
    <meta name="keywords" content="Masters Swim,Mercer Island,Swim,Masters">
    <link type="text/css" rel="stylesheet" href="css/main.css">
</head>
<body>
    <div id="container">
        <div id="banner">
            <a id="bannerImg" rel="lightbox" href="./images/atThePool.jpg"><img id="atThePool" src="./images/atThePool.sm.jpg" alt=""></a>
            <img src="./images/mercer-island-redwoods.png" alt="">
            <h2 style="font-style:italic" id="lda"> lignum durum antiquum
                <span>&mdash; old hard wood</span>
            </h2>
        </div>

        <div id="main-content"></div>

        <div id="footer">
            <div id="usms_logo">
                <a target="_blank" href="//www.usms.org/"><img src="./images/USMS_Logo_Horz_tm_100x19.jpg" alt="usms logo"></a>
            </div>
            <div id="copyright">
                Copyright &copy; 2010-<span id="footerCopyrightYear">2013</span> Mercer Island Redwoods &nbsp;&nbsp; All rights reserved.
            </div>
        </div>
    </div>

<script type="vue-template/text" id="content-template">
<div id="content">
    <div id="nav">
        <a class="navItem" v-for="act in actions" :class="isActive(act)":href="act.href" @click="navTo($event,act.href)">
            {{act.name}}
        </a>
    </div>
    <div id="body">
        <div v-show="active === 'home'">
            <transition name="fade">
                <home-panel></home-panel>
            </transition>
        </div>
        <div v-show="active === 'coaches'">
            <transition name="fade">
                <coaches-panel></coaches-panel>
            </transition>
        </div>
        <div v-show="active === 'schedule'">
            <transition name="fade">
                <schedule-panel></schedule-panel>
            </transition>
        </div>
        <div v-show="active === 'faq'">
            <transition name="fade">
                <faq-panel></faq-panel>
            </transition>
        </div>
        <div v-show="active === 'contact'">
            <transition name="fade">
                <contact-panel></contact-panel>
            </transition>
        </div>
    </div>
</div>
</script>

<script type="text/plain" id="home-template">
<div id="home">

    <h2>A Masters Swim Group in Mercer Island, Washington</h2>

    <p>
    <img id="viewFromHome" alt="The view from our pool" title="The view from our pool" src="./images/viewFromHome.png">
    </p>
    <p style="font-style:italic;font-size:93%;">
        We are the Mercer Island Redwoods, a group of adult swimmers affiliated with United States
        Masters Swimming (<a target="usms" href="http://www.usms.org">www.usms.org</a>) who take
        both our swimming and our fun seriously. We work out every weekday morning from 5:30 to
        7:00 at the Mercerwood Shore Club in a beautiful 25 meter outdoor pool covered by a
        well-lit and well-ventilated bubble during the six coldest and darkest months of the year.
        Workouts vary somewhat in intensity, but all feature a full-time coach on the deck and lots
        of friendly and encouraging faces in the pool. During the summer, we provide opportunities
        for group open water swims in Lake Washington. We emphasize fitness, conditioning, and
        community, but we have our competitive streak, too, and we're committed to supporting
        the swimming goals of all of our members, regardless of what they may be. People of
        all skill levels and all adult ages are always welcome to drop in and sample the experience
        or join the fun as a regular. We meet for coffee most Fridays after workout to celebrate
        the week's accomplishments, both in and out of the pool.
    </p>
    <p>
        Our group has been together at the <a target="msc" href="http://www.mercerwood.com/">Mercerwood
        Shore Club</a> pool since the mid 90s, but dates back to the 80s, at least. The group currently
        includes swimmers in their early 20s, early 70s, and everywhere between.
    </p>
    <div class="atAGlance">
        <h3>Join the <a class="popupWindow" target="popupWindow" href="http://www.freelists.org/list/mi-redwoods">Redwoods mailing list</a> for updates!</h3>
        <hr>
        <table id="atAGlance">
            <caption>At a glance</caption>
            <tr>
                <th>Who</th>
                <td colspan="2">All are welcome. Please bring your <a target="_blank" href="http://www.usms.org/reg/">USMS membership</a> card.</td>
            </tr>
            <tr>
                <th>Where</th>
                <td colspan="2">Mercerwood Shore Club &mdash; <a target="_blank" href="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=4150+E+Mercer+Way,+Mercer+Island,+WA+98040&amp;sll=47.587743,-122.241346&amp;sspn=0.272774,0.582275&amp;ie=UTF8&amp;hq=&amp;hnear=4150+E+Mercer+Way,+Mercer+Island,+King,+Washington+98040&amp;t=h&amp;ll=47.570713,-122.205852&amp;spn=0.002678,0.006813&amp;z=14&amp;output=embed">
                        4150 E. Mercer Way, Mercer Island, Wa.</a>
                </td>
            </tr>
            <tr>
                <th>When</th>
                <td colspan="2">Monday through Friday, 5:30-7:00a</td>
            </tr>
            <tr>
                <th rowspan="3">How much</th>
                <td>$1300/2019; $325/quarter; $120/month<br>
                    <span style="font-size:90%">(for MSC members: $160/quarter; $60/month)</span></td>
            </tr>
            <tr>
                <td colspan="2">Or: $120/10-swim pass; $12/drop-in </td>
            </tr>
            <tr>
                <td colspan="2"><em>Young Masters special</em>: 35 and younger: $250/quarter</td>
            </tr>
        </table>
    </div>
    <p>Things to check out:</p>
    <ul>
        <li>
            Several members attend and compete at area Masters meets, organized by the local Masters organization,
            <a href="http://www.swimpna.org">Pacific Northwest Masters</a>.
        </li>
        <li>
            For several years, we've been competing, mostly with ourselves, in the <a class="popupWindow"
            target="popupWindow" href="http://www.usms.org/fitness/content/gothedistance">USMS Go the Distance</a>
            postal event. Swimmers are encouraged to set their own goals for the year, and we hold small but
            unique celebrations at workouts, as each swimmer's goal is attained.
        </li>
        <li>
            Get in touch with other Redwoods members: join our
            <a class="popupWindow" target="popupWindow" href="http://www.freelists.org/list/mi-redwoods">mailing list</a>,
            or contact group leaders <a class="emailRel" rel="tom * grandine. org">Tom Grandine</a>
            or <a class="emailRel" rel="margaux 56 * aol . com">Mike Schaeffer</a>.
        </li>
        <li>
            Find us on Facebook at the
            <a class="popupWindow" target="popupWindow" href="http://www.facebook.com/groups/mercer.island.redwoods">Mercer
            Island Redwoods</a> group page.
        </li>
    </ul>
</div>
</script>

<script type="text-plain" id="coaches-template">
<div id="coaches">
    <h2> Coaches </h2>
    <p>
        Our coach:
    </p>
    <ul>
        <li>
            Derek Young runs workouts 4 mornings a week, from 5:30-7:00am. He may follow a somewhat
            standard Masters pattern (distance/IM/sprint) through the week; or might surprise us with a
            new workout themes completely out of the blue; they're never exactly the same.
        </li>

        <li>
            In addition, one of our own swimmers takes the deck each Wednesday morning
            to run a workout; these are always <em>entertaining!</em>
        </li>
    </ul>

    <div class="coachList">
        <div v-for="coach in coaches" :class="coachClass(coach)">
            <div class="name" @click="toggle(coach)" :title="title(coach)">
                <span class="fname">{{ coach.firstName }}</span>
                {{ coach.lastName }}
            </div>
            <div :class="{coachInfo: true, active: coach.active}">
                <img class="coachPic" :alt="coachName(coach)" :src="coach.img">
                <blockquote class="coachQuote" v-html="coach.quote"></blockquote>
                <span class="emailLine">Email
                    <a class="emailRel" :href="email(coach)"> {{coach.firstName}}</a>
                 </span>
            </div>
        </div>
    </div>
</div>
</script>


<script type="text/plain" id="schedule-template">
    <div id="schedule" style="left: 0px;">
        <a name="calendar"></a>
        <iframe src="http://www.google.com/calendar/embed?src=pd2gdne8ii9vrra4ehrpt0sccg%40group.calendar.google.com&amp;ctz=America/Los_Angeles" style="border: 0" scrolling="no" frameborder="0">
        </iframe>

    </div>
</script>

<script type="text/plain" id="faq-template">
    <div id="faq-section">
        <h1>Frequently Asked Questions</h1>
        <h3>with frequently given answers</h3>

        <p>
            Although the group has been together for more than 15 years, the Mercer
            Island Redwoods formed as an official organization in June, 2010. Here are
            answers to several questions that arose as the group was getting started:<br><br>
            <span style="font-size: 90%;" id="faqInstructions">questions are <em>clickable</em></span>
        </p>

        <ol id="faq">
            <li v-for="q in qas">
                <span class="question" @click="toggleActive(q.a)" v-html="q.q"></span>
                <div class="answer" :class="q.a.clas" v-html="q.a.html"></div>
            </li>
        </ol>
    </div>
</script>

<script type="text/plain" id="contact-template">
    <div id="contact-us" style="left: 0px;"><h2> Contact Us </h2>
    <p>
        You can contact our group in one of these ways:
    </p>

    <ul>
        <li>
            Join our mailing list, at <a href="http://www.freelists.org/list/mi-redwoods">http://www.freelists.org/list/mi-redwoods</a>,
            or simply send an email to <a class="emailRel" rel="mi-redwoods-request * freelists . org"
                href="mailto:mi-redwoods-request@freelists.org">mi-redwoods<!-- ignore -->-request@<!-- this too -->freelists.org</a>.<br>
            This is a private list (to avoid spam). After you've joined, you'll receive all club-wide emails.
        </li>
        <li>
            Email one of the Redwood headwoods:
            <a class="emailRel" rel="tom * grandine . org" href="mailto:tom@grandine.org">Tom Grandine</a>, or
            <a class="emailRel" rel="margaux56 * aol .com" href="mailto:margaux56@aol.com">Mike Schaeffer</a>.
        </li>
    </ul>
</div>
</script>

<script src="https://unpkg.com/vue"></script>
<script src="js/main.js"></script>
</body>
</html>
